# Byte-compiled / optimized - не нужны
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask, Scrapy, Sphinx и др.
instance/
.scrapy
docs/_build/

# Jupyter, IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
*.iml
*.iws
*.xml
.spyderproject
.spyproject
.ropeproject
.site
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Poetry, Pipenv, PDM (если не используете — можно игнорировать)
# poetry.lock
# Pipfile.lock
# pdm.lock
# .pdm.toml

# Локальные конфиги
.pypirc

nginx/

# Специфичные для разработки
/.gigaide/
/sys