{% extends 'base_templates/base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-5">Вход</h1>
    <form method="post" class="form-floating" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'users:password_reset' %}" class="btn btn-sm btn-outline-secondary mt-1 mb-1">Восстановить
                пароль</a>
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Войти</button>
    </form>
</div>
{% endblock %}