{% load i18n %}{% autoescape off %}
{% blocktranslate %}
Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи по адресу
{{ site_name }}.{% endblocktranslate %}
{% translate "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'На случай, если вы забыли, ваш никнейм:' %} {{ user.get_username }}
{% translate "Спасибо, что воспользовались нашим сайтом!" %}
{% blocktranslate %}С уважением команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
