{% extends 'base_templates/base.html' %}
{% block title %}Профиль пользователя: {{ user.username }}{% endblock %}

{% block content %}
    <div class="container mt-1">
        <div class="mt-4 d-flex justify-content-between align-items-center">
            <a href="{% url 'users:profile_update' user.id %}"
               class="btn btn-sm btn-outline-primary mt-1 mb-1">Редактировать</a>
            <a href="{% url 'users:profile_delete' user.id %}" class="btn btn-sm btn-outline-danger mt-1
               mb-1">Удалить</a>
            <a href="{% url 'users:password_change' %}" class="btn btn-sm btn-outline-secondary mt-1 mb-1">Изменить
                пароль</a>
        </div>
        <div class="display-4 pricing-header px-1 py-1 pt-md-1 pb-md-1 mx-auto text-center">
            <p>Профиль пользователя</p>
        </div>
        <div class="container">
        {% if user.avatar %}
            <p><img src="{{ user.avatar.url }}" alt="{{ user.username }}"></p>
        {% else %}
            Изображение {{ user.username }} отсутствует
        {% endif %}
        </div>
        <div class="container h3">
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Имя:              {{ user.first_name }}</p>
            <p>Фамилия:          {{ user.last_name }}</p>
            <p>Email:            {{ user.email }}</p>
            <p>№ телефона:       {{ user.phone_number }}</p>
        </div>
    </div>
{% endblock %}
